<div class="row">
  <div class="column1" style="padding-top: 1%">
    <h3>SUMMARY</h3>
    <p class="below_h3">Get to know me</p>
  </div>
  <div class="column" style="padding-top: 1%">
    <p>Recently graduated Electrical Engineer specialized in Power Engineering. Besides electric power, my interests and
      passion lie in Software Development areas as well. Largely self-taught, developed a couple of mobile and web apps.</p>
  </div>
</div>

<div class="row">
  <div class="column1">
    <h3>EMPLOYMENT HISTORY</h3>
    <p class="below_h3">Some places where I've worked so far</p>
  </div>
  <div class="column">
    <h4>SOFTWARE ENGINEER</h4>
    Jan ’17 – Mar ’18 – Brodosplit, Split, Croatia
    <p>Started as computer repair technician responsible for shipyards IT assets (computers, monitors, copy machines, printers).
      After initial few months moved focus from repairing to building custom software solutions, including Assets Management and Kanban inventory tracking systems.
      Designed and developed corresponding mobile (Android) and web (Angular) apps for both projects.</p>

    <h4>RECEPTIONIST</h4>
    Jun ’16 – Sept ’16 – ORVAS, Hvar, Croatia
    <p>Dealing with bookings by phone, email, Airbnb or walk-ins. Welcoming guests and helping them out at check-ins.
      Preparing their bills and payments on the checkouts. Providing information about hotel offers and location.
      Friendly, solving all kinds of problems guests encountered.</p>
    <br>
  </div>
</div>

<div class="row">
  <div class="column1">
    <h3>EDUCATION</h3>
    <p class="below_h3">Where I learned everything, jk</p></div>
  <div class="column">
    <h4>MEng IN ELECTRICAL ENGINEERING</h4>
    Sep ’15 – Sep ’17 – University of Split, Split, Croatia
    <br>
    <br>Module: Electrical Power Engineering
    <br>Thesis title: Smart Grid Applications and Development
    <br>As part of study group travelled to Geneva (Switzerland) to visit CERN and their largest project, LHC.
    <br>
    <br>

    <h4>BEng IN ELECTRICAL POWER ENGINEERING</h4>
    Sept ’11 – Apr ’15 – University of Split, Split, Croatia
    <br>
    <br>Module: Electrical Power Systems
    <br>Thesis title: Reactive Power Compensation in Distribution Networks and Industry
    <br>Visited major regional substations and power plants including nuclear power plant Krško (Slovenia).
    <br>
    <br>
  </div>
</div>

<div class="row">
  <div class="column1">
    <h3>COMPUTER SKILLS</h3>
    <p class="below_h3">Just bits of them</p></div>
  <div class="column">
    <h4>ANDROID</h4>
    <p>Started back in 2013 when I used Android for my coding class project. Got interested into developing, and a few weeks later first Split Bus apk was in the Play Store.
      It’s non-commercial app used for local city transport, you can find out more about it on the <a href routerLink="/projects">Projects page</a>.
      In following years I’ve had few freelance projects where I slowly expanded my skills.</p>
    <p>Now I have general knowledge of Java, Android SDK, Android Studio and Material Design.
      In my projects so far I’ve used SQLite, GPS, REST, JSON, Fragments, Support libraries, Mobile Vision API and Play Services API.
      Recently started exploring Kotlin.</p>

    <h4>ANGULAR</h4>
    <p>More than familiar with HTML and CSS but JavaScript, TypeScript and Node.JS skills are on a beginner level.
      So far used Angular 5 with Material design component to develop datatable web app.
      Using PHP and DB2 as backend managed to implement all CRUD operations.</p>

    <h4>OTHER</h4>
    Experienced with Graphic design software (Adobe Photoshop)
    <br>CAD software (AutoCAD)
    <br>Microsoft Office
    <br>
    <br>
  </div>
</div>

<div class="row">
  <div class="column1">
    <h3>GENERAL SKILLS</h3>
    <p class="below_h3">Other than computers</p></div>
  <div class="column">
    <h4>LANGUAGES</h4>
    <p>Native Croatian speaker, fluent in English.</p>
    <br>
  </div>
</div>

<div class="row">
  <div class="column1">
    <h3>INTERESTS AND HOBBIES</h3>
    <p class="below_h3">What I do in free time</p></div>
  <div class="column">
    <h4>SPORTS</h4>
    <p>Cycling, football, basketball.</p>
    <h4>TRAVELING</h4>
    <p>Nature, urban cityscapes.</p>
  </div>
</div>
