.below_h3 {
  color: #3b3047;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 60%;
  padding: 0 30px 0 30px;
  /*display: table-cell;*/
}

.column1 {
  float: left;
  text-align: right;
  width: 40%;
  padding: 5px 10px 0 30px;
}

ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

ul li {
  position: relative;
  margin-left: 1em;
}

ul li:before {
  position: absolute;
  left: -1em;
  content: "*";
}

/* Clear floats after the columns */
.row:after {
  content: "";
  /*display: table;*/
  display: flex;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
  .column {
    width: 100%;
  }

  .column1 {
    text-align: left;
    width: 100%;
  }

  .avatar {
    margin-top: 8%;
    width: 120px;
  }

  .title_column {
    font-size: 2.3em;
  }

  .title_summary {
    font-size: 1em;
  }
}
