<div class="row">
  <div class="column1" style="padding-top: 1%">
    <h3>SPLITBUS</h3>
    <p class="below_h3">Get to know me</p>
  </div>
  <div class="column" style="padding-top: 1%">
    <p>SB</p>
  </div>
</div>

<div class="row">
  <div class="column1">
    <h3>EMPLOYMENT HISTROY</h3>
    <p class="below_h3">Some places where I've worked so far</p>
  </div>
  <div class="column">
    <h4>SOFTWARE ENGINEER</h4>
    Jan ’17 – Mar ’18 – Brodosplit, Split, Croatia
    <p>Started as computer repair technician responsible for shipyards IT assets (computers, monitors, copy machines, printers).
      After initial few months moved focus from repairing to building custom software solutions, including Assets Management and Kanban inventory tracking systems.
      Designed and developed corresponding mobile (Android) and web (Angular) apps for both projects.</p>

    <h4>RECEPTIONIST</h4>
    Jun ’16 – Sept ’16 – ORVAS, Hvar, Croatia
    <p>Dealing with bookings by phone, email, airbnb or walk ins. Welcoming guests and helping them out at check ins.
      Preparing their bills and taking payments on the check outs. Providing informations about hotel offers and location.
      Friendly solving all kinds of problems guests encountered.</p>
    <br>
  </div>
</div>
