<div class="row">
  <div class="column1" style="padding-top: 1%">
    <h3>SPLIT BUS</h3>
    <p class="below_h3">>10.000 downloads<br>>2.000 active users</p>
  </div>
  <div class="column" style="padding-top: 1%">
    <p>First Split Bus version appeared on Play Store back in september 2013. It was my first Android app
      with simple idea, bring public transport closer to citizens. The local transport company, Promet Split
      had simple Joomla website with a timetables displayed as pictures. Back then, a timetables didn't change
      often, maybe twice per year so first Split Bus version had all pictures saved as assets. When the timetable
      change occurred, I would release an update. In following months, as my coding skills improved, first I've used
      WebView and later built an entire new logic for saving pictures to internal sdcard which can be used for
      later offline viewing.</p>

    <ul>Features:
      <li>Shows all urban area and suburban area buses and their timetables</li>
      <li>Shows city maps containing bus stations and bus routes</li>
      <li>Shows the latest news, road works and other changes in bus routes</li>
      <li>Shows various useful informations (tariff zones, sms parking numbers etc.)</li>
      <li>Using GPS app can find nearby bus stations</li>
      <li>Once you download timetable you wont need internet access anymore</li>
      <li>Simple and fast design</li>
      <li>Optimized for tablets</li>
      <li>Completely free, without any ads</li>
      <li>Supports Android 4.0 and newer</li>
    </ul>

    <p>From the release app was free and without any ads. Nobody responsible from the company ever contacted me, few
    times in interviews they said they were working on mobile solutions but none of that ever happened. This year I started
    to rewrite entire Java code to Kotlin. I've always wanted to open source Split Bus, but I never had time to
      tidy up code a little bit. Kotlin provided a perfect excuse, so full development is once again in progress.</p>
    <p>Find more on:</p>
    <a mat-button href="https://play.google.com/store/apps/details?id=com.am.stbus">Play Store</a>
    <a mat-button href="https://www.facebook.com/splitbuss/">Facebook</a>
    <a mat-button href="https://github.com/marinantonio/android-splitbus">GitHub</a>
  </div>
</div>

<div class="row">
  <div class="column1">
    <h3>OTHER</h3>
    <p class="below_h3">Minor code snippets found on my GitHub</p>
  </div>
  <div class="column">
    <h4>Something awesome will appear here</h4>
    <p>Sooon</p>
    <br>
  </div>
</div>
