.header {
  background-size:contain;
  /*background: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-116918.jpg") no-repeat center;*/
  background: url("../assets/images/header_picture.png") center;
  /*padding: 7%;*/
  padding: 9% 0;
  width: 100%;
  display: table;
}

.avatar {
  border-radius: 50%;
}

.avatar_column {
  float: left;
  width: 43%;
  margin-right: 2%;
}

.title_column {
  float: left;
  width: 54%;
  margin-top: 2%;
  font-size: 3em;
}

.title_summary {
  font-size: 1.2em;
  color: #3b3047;
  padding-right: 2%;
}

.spacer {
  flex: 0.5 0.5 auto;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
  .avatar {
    margin-top: 8%;
    width: 120px;
  }

  .title_column {
    font-size: 2.3em;
  }

  .title_summary {
    font-size: 1em;
  }
}

.footer{
  background-color: #3b3047;
  color: #fff;
  /*height: 10em;*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
