<div class="header">
  <div class="avatar_column"><img src="https://raw.githubusercontent.com/marinantonio/marinantonio/gh-pages/assets/images/avatar.png" alt="Avatar" class="avatar" style="float: right"></div>
  <!--<div class="avatar_column"><img src="../assets/images/avatar.png" alt="Avatar" class="avatar" style="float: right"></div> // DEV PURPOSES-->
  <div class="title_column">ANTONIO<br>MARIN</div>
  <div class="title_summary">MEng in Electrical Engineering</div>
</div>

<mat-toolbar color="primary">
  <span class="spacer"></span>
  <a mat-button routerLink="/cv">CV</a>
  <a mat-button routerLink="/projects">Projects</a>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="footer">
  <div>
    <p>
    Contact on:
    <br>antoniomarinnn@gmail.com
    </p>
    <p>Or find me on:
    <br>
    <a mat-button href="https://www.linkedin.com/in/antoniomarin91/">LinkedIn</a>
    <a mat-button href="https://github.com/marinantonio">GitHub</a>
    </p>
    <p style="font-size: 0.8em">© 2018 by Antonio Marin</p>
  </div>
</div>

