<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>Antonio Marin</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/cv">CV</a>
  <a mat-button routerLink="/projects">Projects</a>
</mat-toolbar>

<div class="container">

  <div style="text-align:center">  <h1>Antonio Marin</h1>
    Recently graduated Electrical Engineer specialized in Power Engineering. Besides electric power my interests and passion lie in Software Development areas as well. Largely self-taught, developed couple of mobile and web apps.
  </div>

  <div class="paragraph">
    <p style="float: left;"><img src="https://raw.githubusercontent.com/marinantonio/marinantonio/gh-pages/assets/images/brodosplit.png" class="image1"></p>
    <p><br><h3><b>EMPLOYMENT HISTROY</b></h3>
    SOFTWARE ENGINEER
    <br>Jan ’17 – Jan ’17 – Brodosplit, Split, Croatia
    <br>Started as computer repair technician responsible for shipyards IT assets (computers, monitors, copy machines, printers).
    After initial few months moved focus from repairing to building custom software solutions, including Assets Management and Kanban inventory tracking systems.
    Designed and developed corresponding mobile (Android) and web (Angular) apps for both projects.</p>

    <p style="float: left;"><img src="https://raw.githubusercontent.com/marinantonio/marinantonio/gh-pages/assets/images/blank.png" class="image"></p>
    <p><br>RECEPTIONIST
      <br>Jun ’15 – Sept ’15 – ORVAS, Hvar, Croatia
      <br>Dealing with bookings by phone, email, airbnb or walk ins. Welcoming guests and helping them out at check ins.
      Preparing their bills and taking payments on the check outs. Providing informations about hotel offers and location.
      Friendly solving all kinds of problems guests encountered.</p>
    <br>
  </div>

  <div class="paragraph">
    <p style="float: left;"><img src="https://raw.githubusercontent.com/marinantonio/marinantonio/gh-pages/assets/images/unist.png" class="image1"></p>
    <p><br><h3><b>EDUCATION</b></h3>
    MEng IN ELECTRICAL ENGINEERING
    <br>Sep ’15 – Sep ’17 – University of Split, Split, Croatia
    <br>Module: Electrical Power Engineering
    <br>Thesis title: Smart Grid Applications and Development
    <br>As part of study group traveled to Geneva (Switzerland) to visit CERN and their largest project, LHC.</p>
    <br>

    <p style="float: left;"><img src="https://raw.githubusercontent.com/marinantonio/marinantonio/gh-pages/assets/images/unist.png" class="image"></p>
    <p>
      <br>BEng IN ELECTRICAL POWER ENGINEERING
      <br>Sept ’11 – Apr ’15 – University of Split, Split, Croatia
      <br>Module: Electrical Power Systems
      <br>Thesis title: Reactive Power Compensation in Distribution Networks and Industry
      <br>Visited major regional substations and power plants including nuclear power plant Krško (Slovenia).</p>
  </div>
</div>

<div class="footer">
  <br>
  &nbsp;Test, this is still WIP
  <br>Antonio Marin
  <br>
  <br>
</div>
